<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://login.salesforce.com/services/Soap/c/43.0/0DF0b000000g1v7"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="SalesforceProxy.Soap" name="Soap" />
        </client>
    </system.serviceModel>
</configuration>